.notebox
{
     box-shadow: 5px 10px 18px lightgrey;
    border-radius: 10px;
   height: 60px;
   width: 750px;
   margin-left: 550px;
   margin-top: 20px;
   position: relative;
   display: flex;
   flex-direction:row;
   justify-content:flex-start;
   align-items:center;
   border: 1px solid lightgray;   
}
.icon
{
   margin-left:10px;
   position: relative; 
}
.brush
{
   margin-left:10px;
   position: relative;
}
.notebox1
{
   margin-left:20px;
   position: relative;
}
.input
{
   height: 26px;
   border: 0px;
   width: 590px;
}

